body {
    text-align: center;
    font-size: 3em;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    animation: slideUpDown 2s infinite;
}