body {
    text-align: center;
    font-size: 3em;
    animation: slideUpDown 2s infinite;
    background-color: black;
}

@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.return a:hover, .return a:focus, .return a:active {
    color: white;
    background-color: black;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.return a:visited {
    color: inherit;
}

.arrow {
    font-size: 2em;
    color: white;
    text-decoration: none;
}
